<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MMCM_Logo_noname.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">
                <img src="../static/images/MMCM_Logo.png" class="img">
                <div class="brand-container">
                    <h1>Marketing Office</h1>
                </div>
            </a>
            <a href="{{ url_for('project_info') }}" class="navbar-item"></a>
            <a href="{{ url_for('login') }}" class="navbar-item"></a>
            <a href="{{ url_for('personnel') }}" class="navbar-item">Personnel</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="push"></div> <!-- Push footer to the bottom -->
    </div>
    <footer class="footer">
    </footer>
</body>
</html>