{% extends "layout.html" %}

{% block title %}
    Log in - Mapúa MCM Portal
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2 style="font-size: 26px;">Login</h2>
        <form action="{{ url_for('login') }}" method="post">
            <input type="radio" name="role" value="student" id="student" style="font-size: 24px;">
            <label for="student" style="font-size: 24px;">Student</label>
            <input type="radio" name="role" value="admin" id="admin" style="font-size: 24px;">
            <label for="admin" style="font-size: 24px;">Admin</label>
            <br>
            <div style="margin-top: 20px;">
            <button type="submit" style="font-size: 20px;">Login</button>
            </div>
        </form>
    </div>
{% endblock %}