<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Requester Form </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MMCM_Logo_noname.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='requester.css')}}" />
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">
                <img src="../static/images/MMCM_Logo.png" class="img">
                <div class="brand-container">
                    <h1>Marketing Office</h1>
                </div>
            </a>
            
            <a href="{{ url_for('requester_form') }}" class="navbar-item"></a>
            <a href="{{ url_for('login') }}" class="navbar-item"></a>
        </div>
                <h2 class = "req">Project Information</h2>

    <div class="form-container">
        <form action="{{ url_for('project_info') }}" method="post">
            <div class = "inputs">
            <label for="project_title">Project Title:</label>
            <input type="text" id="project_title" name="project_title" required><br>

            <label for="output">Output:</label>
            <input type="text" id="output" name="output" required><br>

            <label for="objective">Objective/Purpose:</label>
            <input type="text" id="objective" name="objective" required><br> 

            <label for="recipient">Recipient:</label>
            <input type="text" id="recipient" name="recipient" required><br>

            <label for="mandatory">Mandatories:</label>
            <input type="text" id="mandatory" name="mandatory" required><br>

            <label for="date_filed">Date Filed:</label>
            <input type="date" id="date_filed" name="date_filed" required><br>   

            <label for="date_needed">Date Needed:</label>
            <input type="date" id="date_needed" name="date_needed" required><br>

            <label for="additional_info">Additional Info:</label>
            <input type="text" id="additional_info" name="additional_info"><br>
        </div>
        
        <!-- Add other fields as needed -->
        <div style="margin-top: 20px;">
            <button type="submit" class="button">Next</button>
        </div>
    </form>
</div>
<div class="push"></div> <!-- Push footer to the bottom -->
</div>
<footer class="footer">
</footer>
</body>
</html>