<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Requester Form </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MMCM_Logo_noname.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='requester.css')}}" />
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">
                <img src="../static/images/MMCM_Logo.png" class="img" alt="Home">Home
                <div class="brand-container">
                    <h1>Marketing Office</h1>
                </div>
            </a>
            
            <a href="{{ url_for('requester_form') }}" class="navbar-item"></a>
            <a href="{{ url_for('login') }}" class="navbar-item"></a>
        </div>

        <h2 class = "req">Requester Form</h2>
        
    <div class="form-container">
        <form action="{{ url_for('requester_form') }}" method="post"> <!-- Corrected action -->
            <!-- Add form fields for requester info as needed -->
        <div class = "inputs">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br>

            <label for="contact">Contact Number:</label>
            <input type="text" id="contact" name="contact""><br>

            <label for="department">Department:</label>
            <select id="department" name="department">
             {% for department in departments %}
            <option value="{{ department[0] }}">{{ department[1] }}</option>
            {% endfor %}
            </select><br>

        </div>
        
            <!-- Add other fields as needed -->
            <div style="margin-top: 20px;">
                <button type="submit" class="button">Next</button>
            </div>
        </form>
    </div>
    <div class="push"></div> <!-- Push footer to the bottom -->
    </div>
    <footer class="footer">
    </footer>
</body>
</html>