{% extends "layout.html" %}
{% block title %}
    Review Forms
{% endblock %}
{% block content %}
    <table border="1px">
        <h3>Review Forms</h3>
        <thead>
            <td><strong>Name</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Contact</strong></td>
            <td><strong>Department</strong></td>
            <td><strong>Project Title</strong></td>
            <td><strong>Output</strong></td>
            <td><strong>Objective</strong></td>
            <td><strong>Recipient</strong></td>
            <td><strong>Mandatory</strong></td>
            <td><strong>Date Filed</strong></td>
            <td><strong>Date Needed</strong></td>
            <td><strong>Additional Info</strong></td>
            <td><strong>Status ID</strong></td>
            <td><strong>Action</strong></td>
        </thead>
        <tbody>
            {% for requester_row, project_info_row in zipped_data %}
<tr>
    <td>{{ requester_row[1] }}</td>
    <td>{{ requester_row[2] }}</td>
    <td>{{ requester_row[3] }}</td>
    <td>{{ requester_row[4] }}</td>
    <td>{{ project_info_row[2] }}</td>
    <td>{{ project_info_row[3] }}</td>
    <td>{{ project_info_row[4] }}</td>
    <td>{{ project_info_row[5] }}</td>
    <td>{{ project_info_row[6] }}</td>
    <td>{{ project_info_row[7] }}</td>
    <td>{{ project_info_row[8] }}</td>
    <td>{{ project_info_row[9] }}</td>
    <td>Active</td> 
    <td>
        <form onsubmit="return confirm('Are you sure you want to DELETE this Data from the Database?');" action="{{ url_for('delete', requester_id=requester_row[0], project_id=project_info_row[0]) }}" method="POST">
            <input type="hidden" name="requester_id" value="{{ requester_row[0] }}">
            <input type="hidden" name="project_id" value="{{ project_info_row[0] }}">
            <input type="submit" value="Delete">
        </form>
    </td>
</tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}
